* {
    outline: none;
  }
  
  /* input:focus{
    border-color: blue;
  } */
  
  .otp-inputs {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  .otp-input-gray {
    border-color: gray;
  }
  
  .otp-input-red {
    border-color: red;
  }
  
  .otp-input-green {
    border-color: green;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
  
  .submit-button-gray {
    background-color: gray;
  }
  
  .submit-button-red {
    background-color: red;
  }
  
  .submit-button-green {
    background-color: green;
  }
  